* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-cyan-300: #8fe3f9;
  --color-cyan-600: #4d96a9;
  --color-purple-300: #d9b8ff;
  --color-purple-600: #855fb1;
  --color-slate-300: #d1d1df;
  --color-slate-600: #87879d;
  --color-slate-900: #28283d;
  --color-white: #fafafa;

  --space-1400: 11.2rem;
  --space-1000: 8rem;
  --space-900: 7.2rem;
  --space-800: 6.4rem;
  --space-700: 5.6rem;
  --space-500: 4rem;
  --space-400: 3.2rem;
  --space-300: 2.4rem;
  --space-200: 1.6rem;
  --space-100: 0.8rem;
  --space-50: 0.4rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.text-preset-1 {
  font-size: 6.4rem;
  line-height: 1.1;
  letter-spacing: 0;
  font-weight: 900;
}

.text-preset-2 {
  font-size: 4rem;
  line-height: 1.1;
  letter-spacing: 0;
  font-weight: 900;
}

.text-preset-3 {
  font-size: 1.6rem;
  line-height: 1.1;
  letter-spacing: 4px;
  font-weight: 900;
}

.text-preset-4 {
  font-size: 1.8rem;
  line-height: 1.1;
  letter-spacing: 0px;
  font-weight: 900;
}

.text-preset-5 {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0px;
}

.container {
  padding: 1rem;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: var(--space-700) 0;
}

.logo {
}

/* HEADER */

.header {
}

.header__image-wrapper {
  margin-bottom: 5rem;
}

.header__image {
  width: 100%;
  transform: scale(1.2);
}

.header__content {
  text-align: center;
  margin-bottom: 5rem;
}

.header__title {
  font-size: 4rem;
  line-height: 1.1;
  letter-spacing: 0;
  font-weight: 900;
  padding: 0 4rem;
  color: var(--color-slate-900);
}

.header__description {
  width: 85%;
  margin: 2rem auto 0;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0px;
  color: var(--color-slate-600);
}

.header__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.header__btn {
  margin-bottom: 1rem;
  font-weight: 900;
}

.header__btn--download {
  background-color: var(--color-cyan-600);
  color: var(--color-white);
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0px;
  padding: 2rem 4rem;
  border: none;
  border-radius: 3rem;
}

.download-version {
  color: var(--color-cyan-300);
}

.header__btn--learn-more {
  background-color: var(--color-purple-600);
  color: var(--color-white);
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0px;
  padding: 2rem 4rem;
  border: none;
  border-radius: 3rem;
  margin-top: 1rem;
}

/* MAIN */

.content {
  margin-top: var(--space-1400);
  padding: 0 var(--space-200);
  margin-bottom: var(--space-800);
}

.section-divider {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10rem 0 5rem;
}

.step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-slate-300);
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  color: var(--color-slate-600);
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0px;
}

.step-number::after {
  content: "";
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 8rem;
  background-color: var(--color-slate-300);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.6rem;
}

.gallery__image {
  width: 100%;
  border-radius: 1rem;
}

.about-section {
  margin-top: var(--space-800);
  text-align: center;
}

.about-section__first-title {
  font-size: 1.2rem;
  line-height: 1.1;
  letter-spacing: 4px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-cyan-600);
}

.about-section__second-title {
  font-size: 3.2rem;
  line-height: 1.1;
  letter-spacing: 0;
  font-weight: 900;
  margin-top: var(--space-200);
  color: var(--color-slate-900);
}

.about-section__description {
  margin-top: var(--space-400);
  color: var(--color-slate-600);
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0px;
  padding: 0 var(--space-100);
}

/* FOOTER */

.footer {
  text-align: center;
  background-color: var(--color-cyan-600);
  color: var(--color-white);
}

.step-number--2 {
  margin-top: -3.2rem;
  background-color: var(--color-white);
}

.step-number--2::after {
  top: -11.2rem;
}

.footer__title {
  margin-top: -3.2rem;
  font-size: 3.2rem;
  line-height: 1.1;
  letter-spacing: 0;
  font-weight: 900;
}

.footer__description {
  width: 80%;
  margin: 2rem auto 0;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0px;
}

.footer__btn {
  margin: 3rem 0 3rem;
  font-weight: 900;
  background-color: var(--color-purple-600);
  color: var(--color-white);
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0px;
  padding: 2rem 4rem;
  border: none;
  border-radius: 3rem;
}

.footer__btn--version {
  color: var(--color-purple-300);
}

@media screen and (min-width: 768px) {
  .logo-wrapper {
    margin: 4.8rem 0 var(--space-800);
  }

  .header__content {
    margin-top: var(--space-900);
    padding: 0 16rem;
  }

  .header__title {
    font-size: 4.8rem;
  }

  .header__description {
    width: 100%;
    margin-top: var(--space-300);
  }

  .header__actions {
    flex-direction: row;
    justify-content: center;
    gap: var(--space-200);
    margin-top: var(--space-300);
  }

  .header__btn {
    margin: 0;
  }

  .content {
    margin-top: 23.2rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: var(--space-300);
    margin: var(--space-800) 0;
  }

  .about-section {
    padding: 0 10rem;
  }

  .about-section__second-title {
    font-size: 3.6rem;
    padding: 0 var(--space-200);
  }

  .footer {
    padding: 0 var(--space-1000);
    padding-bottom: var(--space-800);
  }
}
